body {
	padding: 10px;
	margin: 0;
	text-align: center;
}

#app {
	margin: 60px 200px;
}

.nav * {
	float: right;
}

#credit {
	float: right;
	font-size: 0.8em;
}

.form * {
	margin: 10px;
}

.poll-list {
	margin-bottom: 0.5em;
}
.poll-list a {
	margin-right: 7em;
}

.jumbotron {
	padding: 2px 10px;
	overflow: hidden;
}

.jumbotron a {
	float: left;
	margin: 5px 0 0 10px;
	font-size: 1.3em;
}

.delete-poll {
	float: right;
}

.opt-adder {
	clear: both;
}